* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f3f3f3;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}

.header {
    background: rgba(255, 216, 157, 0.55);
    width: 100%;
    height: 115px;
}

.title {
    color: #FFAA2C;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding: 32.5px 0px;
}

.complete_task,
.current_task {
    margin-top: 40px;
}

.task_title {
    margin: 20px 0px;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.task_container {
    background-color: white;
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    min-height: 235px;
    flex-wrap: wrap;
    align-items: center;
}

.plus {
    position: relative;
    border: 1px dotted white;
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11);
}

.create_task>img {
    width: 70px;
    height: 70px;
    margin-top: 75px;
    margin-left: 38%;
}

.create_task {
    flex: 20% 0 0;
    height: 215px;
    margin: 20px;
    background-color: rgba(255, 224, 194, 0.38);
    border-radius: 20px;
    border: #FFAA2C dotted 5px;
    padding: 15px;
    cursor: pointer;
}

.task {
    flex: 20% 0 0;
    height: 215px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    border: #FFAA2C solid 2px;
    padding: 15px;
    position: relative;
}
.complete>.task>.tick{
    display: none;
}
.taskname {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.tasktext {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.tick>img,
.cross>img {
    width: 100%;
    height: 100%;
}

.tick,
.cross {
    position: absolute;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.tick {
    bottom: 25px;
    right: 25px;
}

.cross {
    top: 25px;
    right: 25px;
}

.popUp {
    height: 1000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    visibility: hidden;
}
.active {
    z-index: 99;
    visibility: visible;
}
.popUp_content {
    background-color: #fff;
    width: 380px;
    margin: 0 auto;
    margin-top: 240px;
    border-radius: 10px;
    padding: 40px;
    border: solid #FFAA2C 2px;
    position: relative;
}

.popUp_button {
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    background: #FF8E25;
    border: 1px solid #FA9C10;
    border-radius: 40px;
    cursor: pointer;
}
.popUp_input{
    width: 356px;
    padding: 10px;
    font-size: 16px;
    border-radius: 100px;
    border: solid #FFAA2C 2px;
}
.popUp_input:active{
    border: solid #FFAA2C 2px;
}
textarea {
	overflow: auto;
	resize: none;
    font-size: 18px;
    width: 336px;
	height: 200px;
    border: solid #FFAA2C 2px;
	border-radius: 8px;
	padding: 20px;
}